.clients-list {
    padding-right: 30px;
    margin-top: 50px;
    margin-bottom: 94px;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .clients-list:hover{
    outline:none;
    border-color: #2196f3;
  }
  
  .clients-list:hover + .icon-logo{
    fill:#2196f3;
  }

  
.icon-logo {
  width:100px;
  padding-left: 62px;
  text-align: center;
  align-items: center;
}


.clients-item {
  padding-left: 30px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}