.social {
    align-items: center;
    margin-right: 10px;
  }

  .social-list-link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .social-list-link:hover,
  .social-list-link:focus {
    background-color: #2196f3;
    color: #ffffff;
  }

  .icon-logo-1 {
    width: 20px;
    height: 20px;
  }

  