.connection-link {
    margin-bottom: 9px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1, 71;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-left: auto;
  }

  .connection-link-list {
    padding-top: 9px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1, 71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .connection-link-list-1 {
    padding-top: 9px;
    padding-bottom: 60px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1, 71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  