.icon-team:hover,
.icon-team:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.icon-team {
  width: 25px;
  height: 25px;
  align-items: center;
  fill:#AFB1B8;
  margin-left: 32px;
  border-radius: 50%;
}