.modal-form-icon:focus{
    fill:#2196f3;
  }
  
  .modal-form-icon{
    position:absolute;
    display:flex;
    width:18px;
    height:18px;
  top: 50%;
  transform:translateY(-50%) ;
  left: 12px;
  transition: fill 250ms linear;
  
  }
  